{% extends 'base.html.twig' %}

{% block title %}Product Categories{% endblock %}

{% block body %}
    <h1>Product Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('product_category_edit', {'id': category.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_category_new') }}" class="btn btn-primary">New Category</a>
{% endblock %}
